body{
    background-color: #FFFFFF;
    font-family: Eina, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-size-adjust: none;
    background-image: linear-gradient(rgba0,0,255,0.5), rgba(255,255,0,0.5);
}
.Header{
    background-color: #4E944F;
    font-size: 31px;
    line-height: 40px;
    font-weight: bold;
    width: 256px;
}
.Cart{
    background-color: #FFFFFF;

}
.Home{
    font-size: large;
}

.top{
    color: aqua;
}